.b-about {
	.__txt {
		p {
			margin-bottom: 16px;
			font-size:18px;
		}
		p:last-child {
			margin-bottom: 0 !important;
		}
		strong{
font-size: 24px;
font-weight: 600;
@media (max-width: 768px) {
	font-size: 20px;
}
	}
}

/*--- BRAK PUNKTATORÓW ---*/

.b-about.no-list {
	.__txt {
		ul {
			margin-top: 8px;
			margin-bottom: 24px;
			list-style: disc;
			padding-left: 1.25rem;

			li {
				display: list-item;
				position: static;
				margin-bottom: 0.5em;

				&::before {
					content: none;
					display: none;
				}
			}
		}
	}
}}