.b-study{
.__txt {

		p {
			margin-bottom: 16px;
		}

		p:last-child {
			margin-bottom: 0 !important;
		}

		ul {
			margin-top: 20px;
			padding-bottom: 20px;
			list-style: none;
			padding-left: 0;

			&:last-child {
				margin-bottom: 0;
			}

			li {
				position: relative;
				margin-bottom: 0.5em;
				display: flex;
				gap: 8px;
				align-items: center;

				&::before {
					content: '';
					display: inline-block;
					width: 10px;
					height: 10px;
					background-image: url('@images/ellipse.svg');
					background-size: contain;
					background-repeat: no-repeat;
					background-position: center;
					flex-shrink: 0;
					
				}
			}
		}
	}
	&.__txt.border-l {
	border-left: 6px solid #064166!important;
		padding-left: 16px;
	}
}